################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AccentKiller/.vs/AccentKiller/v15
/AccentKiller/AccentKiller/bin
/AccentKiller/AccentKiller/obj
/AccentKiller/AccentKiller/Properties/PublishProfiles
/AccentKiller/AccentKiller/AccentKiller.csproj.user
