################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AccentKiller/.vs/AccentKiller/v15
